
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="divport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>CourseUI</title>
    <link rel="stylesheet" href="~/css/bootstrap.css" />
    <script src="~/js/jquery-1.11.3.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <link href="~/css/CourseUI.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript">
        $(document).ready(function () {
            var token = window.localStorage.getItem("token")
            var index = 1;
            $.ajax({
                type: 'GET',
                url: "/api/course/" + window.localStorage.getItem("courseid"),
                contentType: "application/json; charset=utf-8",
                headers: {
                    "Authorization": "Bearer " + token
                },
                success: function (data, status) {
                    console.log(data)
                    $(".title").text(data.name);
                }
            });
            $.ajax({
                type: 'GET',
                url: "/api/course/" + window.localStorage.getItem("courseid") + "/seminar",
                contentType: "application/json; charset=utf-8",
                headers: {
                    "Authorization": "Bearer " + token
                },
                success: function (data, status) {
                    console.log(data)
                    for (var i in data.seminars) {
                        //if (data.isNow[i]) {
                            var box = "blueBox";
                            var gradeStatus = "未完成"
                        //}
                        //else {
                        //    var box = "greyBox";
                        //    var gradeStatus = "已完成"
                        //}
                        index++;
                        if (data.seminars[i].isFixed)
                            var g = "固定分组";
                        else var g = "随机分组";
                        var startTime = data.seminars[i].startTime.substr(0,10);
                        var endTime = data.seminars[i].endTime.substr(0, 10);
                        var col = "<div class='" + box + "' id='" + data.seminars[i].id + "'><p class='LeftBoxText'>" + data.seminars[i].name
                            + "</p><p class='RightBoxText1' style='margin-left: 60%;margin-top: 3%;'>" + startTime + "至" + endTime
                            + "</p><p class='RightBoxText2' style='margin-left: 60%;margin-top: 12%;'>" + g
                            + "</p><p class='RightBoxText3' style='margin-left: 60%;margin-top: 21%;'> 成绩：" + gradeStatus + "</p></div>";
                        $("#list").append(col);
                    }
                }
            });
            $(".ninebutton").click(function () {
                $(window).attr("location", '/Student/CourseInfoUI');
            });
            function chooseSeminar() {
                window.localStorage.setItem("seminarid", $(this).attr("id"));
                $(window).attr("location", '/Student/Seminar');
            }
            $("#list").on('click', ".blueBox", chooseSeminar);
        });
    </script>
</head>
<body class="body">
    <div class="topBox">
        <span class="title"></span>
        <img class="ninebutton" src="../images/home.png" />
    </div>
    <div id="list"></div>
</body>
</html>

