@{
    Layout = null;
}
<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="divport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>CheckStudentInfoUI</title>
    <link rel="stylesheet" href="~/css/bootstrap.css" />
    <script src="~/js/jquery-1.11.3.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <link href="~/css/CheckTeacherInfo.css" rel="stylesheet" type="text/css">
    <script type="text/javascript">
        $(document).ready(function () {
            var token = window.localStorage.getItem("token")
            if ($("#path").text() != " ") {
                var d = {
                    "path": $("#path").text()
                }
                $.ajax({
                    type: 'POST',
                    url: "/api/avatar",
                    headers: {
                        "Authorization": "Bearer " + token
                    },
                    data: JSON.stringify(d),
                    contentType: "application/json; charset=utf-8",
                    success: function (data, status) {
                        $.ajax({
                            type: 'GET',
                            url: "/api/me",
                            headers: {
                                "Authorization": "Bearer " + token
                            },
                            contentType: "application/json; charset=utf-8",
                            success: function (data, status) {
                                console.log(data)
                                if (data.avatar == null || data.avatar == "")
                                    $(".user").attr("src", "../../images/user.png")
                                else $(".user").attr("src", "../../images/" + data.avatar)
                                $(".name").text("姓名：" + data.name);
                                $(".name1").text("姓名：" + data.name);
                                $(".teacherID").text("教工号：" + data.number);
                                $(".ID").text("教工号：" + data.number);
                                $(".phone1").text("手机号：" + data.phone);
                                $(".school").text("学校：" + data.school.name);
                            }
                        });
                    }
                });
            }
            else {
                $.ajax({
                    type: 'GET',
                    url: "/api/me",
                    headers: {
                        "Authorization": "Bearer " + token
                    },
                    contentType: "application/json; charset=utf-8",
                    success: function (data, status) {
                        console.log(data)
                        if (data.avatar == null || data.avatar == "")
                            $(".user").attr("src", "../../images/user.png")
                        else $(".user").attr("src", "../../images/" + data.avatar)
                        $(".name").text("姓名：" + data.name);
                        $(".name1").text("姓名：" + data.name);
                        $(".teacherID").text("教工号：" + data.number);
                        $(".ID").text("教工号：" + data.number);
                        $(".phone1").text("手机号：" + data.phone);
                        $(".school").text("学校：" + data.school.name);
                    }
                });

            }
            $(".exitBtn").click(function () {
                window.localStorage.clear();
                $(window).attr("location", '/Home/LoginUI');
            });
            $(".UnbindBtn").click(function () {
                var confirmChoose = window.confirm("确定解除绑定吗？");
                if (confirmChoose) {
                    $.ajax({
                        type: 'PUT',
                        url: "/api/unbind",
                        headers: {
                            "Authorization": "Bearer " + token
                        },
                        contentType: "application/json; charset=utf-8",
                        success: function (data, status) {
                            console.log(data)
                        }
                    });
                    //$(window).attr("location", '/Home/ChooseCharacter');
                }
            });
            function getObjectURL(file) {
                var url = null;
                if (window.createObjectURL != undefined) { // basic
                    url = window.createObjectURL(file);
                } else if (window.URL != undefined) { // mozilla(firefox)
                    url = window.URL.createObjectURL(file);
                } else if (window.webkitURL != undefined) { // webkit or chrome
                    url = window.webkitURL.createObjectURL(file);
                }
                return url;
            }
            $('#btn_file').change(function () {
                //$(".user").attr('src', getObjectURL($(this)[0].files[0])); // 或 this.files[0] this->input
                $("#sub").click()
            });
            $(".user").click(function () {
                $("#btn_file").click();
            });

        });
    </script>
</head>
<body class="body">
    <h1 id="path" style="display:none;">@ViewData["Path"]</h1>
    <div class="PictureDiv">
        <!-- 背景图的div -->
        <div>
            <form asp-action="CheckStudentInfoUI"
                  asp-controller="Student"
                  method="post"
                  enctype="multipart/form-data">
                <input type="file" id="btn_file" name="files" style="display:none">
                <input type="submit" id="sub" style="display:none" />
            </form>
            <img class="user" /><!--style="object-fit: cover;"-->
        </div>
        <div class="unbindTip">点击头像修改</div>
        <img src="/images/bg.png" class="Picture" />
        <div class="name"></div>
        <div class="teacherID"></div>
    </div>
    <div class="phone1"></div>
    <div class="ID"></div>
    <div class="school"></div>
    <div class="name1"></div>
    <button class="exitBtn">退出登录</button>
    <button class="UnbindBtn">解绑账号</button>
</body>
</html>